<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>cookLocale</short-name>

    <tag>
        <name>GetCookieLocale</name>
        <tag-class>com.epam.dokuchaiev.java.cashMachine.web.tag.GetCookieLocaleTag</tag-class>
        <body-content>empty</body-content>
    </tag>
</taglib>
