body {
    background: #F7F7F7 url('img/background.png') no-repeat fixed center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    display: flex;
    margin: 0;
}

form {
    margin-top: 0;
    margin-block-end: 0;
}

#footer {
    text-align: center;
    width: calc(100% - 20px);
    height: 50px;
    margin-top: 20px;
    background-color: transparent;
    padding: 10px;
    color: #4d4d4d;
    position: absolute;
    bottom: 10px;
    left:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

#header {
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #74B4E0;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
}

.header-block {
    display: flex;
}

#logo-home {
    width: auto;
    height: 50px;
    padding: 5px;
}

#title {
    width: auto;
    height: 50px;
    padding: 5px;
    left: 60px;
    top: 50%;
    text-align: center;
    text-shadow: 1px 1px 4px #4C4C4C;
    color: #F7F7F7;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 36px;
}

#options {
    margin-right: 10px;
}

.header-option {
    min-width: 120px;
    width: auto;
    height: 60px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: #FFF;
    display: inline-block;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    bottom: 0;
}

.header-option:hover {
    color: #F7F7F7;
    background-color: #4C91BF;
    border-bottom: 2px solid #91C9F2;
}

.header-option:focus {
    color: #F7F7F7;
    background-color: #3075A3;
    border-bottom: 2px solid #91C9F2;
}